---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import CtaOne from "../components/CtaOne.astro";
---

<Layout title="Taufik Nurhidayat">
  <main class="container mx-auto px-4">
    <About />
    <CtaOne />
  </main>
</Layout>
