---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Taufik Nurhidayat">
	<main>
    <h1>Taufik Nurhidayat</h1>
    <div class="flex flex-wrap lg:flex-nowrap gap-4 lg:gap-8 items-center"></div>
	</main>
</Layout>
