<section class="flex flex-wrap lg:flex-nowrap gap-4 lg:gap-8 items-center">
  <div
    class="w-full lg:w-5/12 px-10 md:p-8 flex items-center justify-center lg:order-last"
  >
    <div>
      <img src="/profile.png" alt="Taufik Nurhidayat" />
    </div>
  </div>
  <div class="w-full lg:w-7/12 text-slate-700">
    <p class="text-xl">Hi, saya Taufik Nurhidayat</p>
    <h1 class="text-4xl mt-2 font-bold">Frontend Web Developer dan Writer</h1>
    <p class="text-slate-600 mt-8">
      Saya adalah seorang frontend developer yang juga memiliki hasrat dalam
      dunia tulisan. Mulai mengembangkan web{" "}
      <a class="text-slate-800 hover:underline" href="//Nurhidayat.web.id">
        Nurhidayat
      </a>
       , lalu mengisinya dengan konten yang berkualitas. Selain itu saya juga
      menulis untuk <a
        class="text-slate-800 hover:underline"
        href="//play.id"
        rel="nofollow"
      >
        Play.id
      </a> dan <a
        href="//dewabiz.com"
        rel="nofollow"
        class="text-slate-800 hover:underline"
      >
        Dewabiz
      </a>
       .
    </p>

    <div class="mt-8 flex gap-4 flex-wrap items-center text-sm">
      <a
        class="duration-300 inline-flex items-center px-4 py-3 rounded bg-primary-500 text-white hover:shadow-lg hover:shadow-primary-600/50 hover:bg-primary-600"
        href="mailto:taufik@nurhidayat.web.id"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          ></path>
          <path d="M3 7l9 6l9 -6"></path>
        </svg>
        <span class="ml-2">Email Me</span>
      </a>
      <a
        class="duration-300 inline-flex items-center px-4 py-3 rounded hover:text-slate-500 hover:bg-slate-100"
        href="/cv.pdf"
      >
        <span class="ml-2">Download CV</span>
      </a>
    </div>
  </div>
</section>
