---
import { button_style } from "../style/button";
---

<section>
  <div class="bg-slate-100 md:flex items-center p-8">
    <div class="text-xl font-bold text-slate-600 text-center md:text-left">
      Tertarik dengan pekerjaan saya?
    </div>
    <div
      class="ml-auto mt-8 md:mt-0 flex justify-center gap-4 md:w-auto text-sm"
    >
      <a href="/project" class={button_style.primary_outline}> More Project</a>
      <a
        href="mailto:taufik@nurhidayat.web.id"
        class={button_style.primary}
      >
        Email Me
      </a>
    </div>
  </div>
</section>
